* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 1.5rem;
  /* text-align: center; */
}

body {
  font-family: "Nunito Sans", sans-serif;
  font-size: 13px;
  /* display: flex; */
}

.holder {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
}

.card {
  background-color: rgb(200, 200, 255, 0.6);
  margin: 30px;
  padding: 5px;
  width: 250px;
  height: 250px;
  border-radius: 3px;
  border: 1px solid white;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}
body {
    -webkit-tap-highlight-color: transparent;
}
.card{
    width:200px;
    min-height:100px;
    background-color: rgb(200,200,255,0.6);
    margin:10px;
    padding:5px;
    border-radius:3px;
    border:1px solid white;
    box-shadow:10px 10px 10px rgba(0,0,0,.2);
}
.colorSquare{
    width:30px;
    height:30px;
}
.mapUK {
    width: 550px;
    height: 650px;
}
.ukMapContainer {
    position: relative;
}
svg {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 550px;
    height: 650px;
}
.mapUK {
    width: 550px;
    height: 650px;
}
.ukMapContainer {
    position: relative;
}
svg {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 550px;
    height: 650px;
}