* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 1.5rem;
  /* text-align: center; */
}

body {
  font-family: "Nunito Sans", sans-serif;
  font-size: 13px;
  display: flex;
}

.holder {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
}

.card {
  background-color: rgb(200, 200, 255, 0.6);
  margin: 30px;
  padding: 5px;
  width: 250px;
  height: 250px;
  border-radius: 3px;
  border: 1px solid white;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);

}

.colorSquare {
  width: 30px;
  height: 20px;
}
img {
  justify-content: center;
  width: 100px;
  height: 150px;
}

#filter {
  position: relative;
  border: 1px solid #000000;
  border-radius: 3px;
  width: 226px;
  height: 63em;
  line-height: 1.6em;
}

div {
  margin: 8px;
}

input[type="checkbox"] {
  display: inline-block;
  width: 20px;
  padding-left: 10px;
}
